<!doctype html>
<html>
  <head>
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/controllers/DetailsCtrl.js"></script>
    
  </head>
  <body ng-app="pokeApp">
      <div id="sidebar" ng-controller="MainCtrl">  
        <img src="img/pokedex.png">
        <input type="search" ng-model="q" placeholder="find pokemon..." aria-label="find pokemon" />
        <ul class="pokedex">
          <li class="pokemon" ng-repeat="pokemon in pokedex | filter:q as results">
            <a ng-click=pokemonDetails(pokemon)>{{ pokemon.name }}</a><img class="pokeballs" src="img/pokeball.png"/>
          </li>
          <li ng-if="results.length == 0">
            <strong>No results found...</strong>
          </li>
        </ul>
      </div>
      <div class="details" ng-controller="DetailsCtrl">
        <h1>{{ attack }}</h1>
        <div ng-view>
        </div>
      </div>

    
  </body>
</html>