ul li {
  list-style-type: none;
}

.details {
  float: left;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 200;
  z-index: 999;
  width: 50%;
  height: 100%;
  background-image: url('img/ash.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  margin: auto;
  position: relative;
  vertical-align: middle;
}

#text {
  text-align: center;
}

.pokeballs {
  vertical-align: middle;
}

.pokeballs:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#search  {
  margin-left: 9px;
}

.pokemon {
  margin-top: 20px;
  margin-bottom: 20px;

}

p {
  text-align: center;
}

#signature {
  text-align: center;
}

.right {
  width: 60%;
  margin: auto;
  padding: 10px;
}

#leftSidebar {
  width: 18%;
  float:left;
}

#rightSidebar {
  width: 32%;
  float: right;
}

.stats {
  text-align: left;
  margin: auto;
  width: 46%;
  padding: 0px;
}