ul li {
  list-style-type: none;
}

.details {
  float: right;
  display: inline-block;
}

.pokeballs {
  vertical-align: middle;
}

.pokeballs:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.pokemon {
  margin: 20px;
}

#sidebar {
  width: 300px;
}