@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#aboutLink {
  background-color: red;
  border: 2px solid black;
  color: white;
  -webkit-box-shadow: 0px 9px 0px maroon, 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px maroon, 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px maroon, 0px 9px 25px rgba(0,0,0,.7);
  text-shadow: 2px 1px black;
}

#aboutLink:active {
  -webkit-box-shadow: 0px 3px 0px maroon, 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px maroon, 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px maroon, 0px 3px 6px rgba(0,0,0,.9);
  position: rel;
  top: 6px;
}

#ash {
  width: 100%;
}

body
{
  font-weight: bolder;
  overflow-x: hidden;
}

#contactLink {
  background-color: yellow;
  border: 2px solid black;
  color: purple;
  -webkit-box-shadow: 0px 9px 0px gold, 0px 9px 25px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 9px 0px gold, 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px gold, 0px 9px 25px rgba(0,0,0,.7);
  text-shadow: 1px 1px black;
}

#contactLink:active {
  -webkit-box-shadow: 0px 3px 0px gold, 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px gold, 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px gold, 0px 3px 6px rgba(0,0,0,.9);
  position: rel;
  top: 6px;
}

.details {
  height: 90px;
}

#homeLink {
  background-color: blue;
  border: 2px solid black;
  color: yellow;
  -webkit-box-shadow: 0px 9px 0px navy, 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px navy, 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px navy, 0px 9px 25px rgba(0,0,0,.7);
  text-shadow: 2px 1px black;
}

#homeLink:active {
  -webkit-box-shadow: 0px 3px 0px navy, 0px 3px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 3px 0px navy, 0px 3px 6px rgba(0,0,0,.9);
  box-shadow: 0px 3px 0px navy, 0px 3px 6px rgba(0,0,0,.9);
  position: rel;
  top: 6px;
}

.ids h2 {
  position: absolute;
  top: 40px;
  left: 28px;
  width: 100%;
}

#leftSidebar {
  width: 18%;
  float:left;
  background-image: url('../img/pokedex.png');
  background-repeat: no-repeat;
  height: 140px;
}

#links {
  width: 80%;
  margin: auto;
}

#logo {
  margin: auto;
  position: relative;
  vertical-align: middle;
}

#middle {
  float: left;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 200;
  z-index: 999;
  width: 50%;
  max-height: 80%;
  background: url('../img/clouds.jpg') repeat-y;
  -webkit-animation: backgroundScroll 30s linear infinite;
  animation: backgroundScroll 30s linear infinite;
  background-repeat: no-repeat;
  }
@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -400px 0;}
}

@keyframes backgroundScroll {
 from {background-position: 0 0;}
 to {background-position: -400px 0;}
};

@keyframes slideInDown {
    from    { transform:translateY(0); }
    to      { transform: translateY(100%); }
}

.ng-enter {
  animation: slideInDown .5s both ease-in;
}

.ng-leave {
  display: none;
}

p {
  text-align: center;
}

.pageLinks{
  position: relative;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 100px auto;
  width: 80px;
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.pageViewText {
  background-color: #3E5BA3;
  border: 2px solid #1D2D5E;
  border-radius: 10px;
  color: #FECB2F;
  font-size: 20px;
  font-weight: bolder;
  height: 90px;
  margin: auto;
  text-align: center;
  width: 80%;
}

.pokeballs {
  vertical-align: middle;
}

.pokeballs:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.pokeballs:hover ~ .popup {
  margin-left: 45px;
  margin-top: -220px;
  opacity: 1;
}

.pokeballs-opening {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.pokemon {
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup{
  position:fixed;
  left:50vw;
  margin-left:35px;
  top:50vh;
  margin-top:-180px;
  opacity:0;
  transition:all 1s;
  -webkit-transition:all 1s;
}


.popup div
{
  width:120px;
  font-size:20px;
}

.popup div
{
  padding:50px;
  background-color:black;
  border-radius:40px;
  color:white;
  text-align:center;
  font-family: 'Indie Flower', cursive;
}

#popupText {
  font-size: 20px;
}

.right {
  width: 60%;
  margin: auto;
  padding: 10px;
}

#rightSidebar {
  position:fixed;
  max-width: 30%;
  right: 0;
}

#rolling {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12%;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4) rotate(90deg);
}

#search  {
  margin-left: 9px;
  margin-top: 100px;
}

#signature {
  text-align: center;
}

.shine-me {
    width:100%; /*Make sure the animation is over the whole element*/

    -webkit-animation-name: ShineAnimation;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(.12,.89,.98,.47);
}

@-webkit-keyframes ShineAnimation{
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-250px -250px;
        background-size: 600px 600px
    }
    to {
        background-repeat:no-repeat;
        background-position:250px 250px;
    }
}

#sprites {
  height: 80%;
  margin: auto;
  width: 30%%;
}

#spriteImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.spriteImages-grow {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8); 
  transition: .5s;
}


.stats {
  background-color: black;
  border: 4px solid silver;
  border-radius: 20%;
  color: white;
  margin: auto;
  text-align: left;
  width: 46%;
}

#technologies {
  font-size: 20px;
}

#text {
  text-align: center;
}

ul li {
  list-style-type: none;
}

.varStats {
  color: gold;
}